html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    max-width: 1200px;
    overflow-x: hidden;
}

li {
    list-style: none
}

@import "normalize.scss";
@import "color.scss";

@import "header.scss";
